@use "color";
.introduce {
  li {
    position: relative;
    padding: 7px 40px;
    color: white;
    &::before {
      background-image: url("../images/icon-check.png");
      background-repeat: no-repeat;
      background-position-y: center;
      content: " ";
      width: 1rem;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
.productItem {
  transform: translateY(0);
  transition: transform 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    transform: translateY(-10px);
  }
}
.productOnScroll {
  animation: myAnimationProduct;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
@keyframes myAnimationProduct {
  from {
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
.sloganOnScroll {
  animation: myAnimationSlogan;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
@keyframes myAnimationSlogan {
  from {
    transform: translateY(50%);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
.ulOnScroll {
  animation: myAnimationUL;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
@keyframes myAnimationUL {
  from {
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
.bannerOnScroll {
  animation: myAnimationBanner;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
@keyframes myAnimationBanner {
  from {
    transform: translateY(60px);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
.menuMobile {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
  ul {
    li {
      padding: 15px 30px;
    }
  }
}
.box {
  .img {
    a {
      img {
        &:hover {
          animation: myAnimationBox;
          animation-duration: 1s;
          animation-timing-function: ease-in;
        }
      }
    }
  }
}
@keyframes myAnimationBox {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(0);
  }
}
.box1 {
  animation: myAnimationPolicy1;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.box2 {
  animation: myAnimationPolicy2;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}
.box3 {
  animation: myAnimationPolicy3;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
.box4 {
  animation: myAnimationPolicy4;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
}
.box5 {
  animation: myAnimationPolicy5;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}
@keyframes myAnimationPolicy1 {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes myAnimationPolicy2 {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes myAnimationPolicy3 {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes myAnimationPolicy4 {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes myAnimationPolicy5 {
  from {
    transform: translateY(70px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.faqs {
  .faqItem {
    .faqContent {
      height: 0;
      transition: height 500ms;
      &.active {
        height: 5rem;
      }
    }
    .line {
      height: 1px;
      width: 0;
      border-bottom: 1px solid var(--color-gray-900);
      transition: width 500ms;
    }
    &:hover {
      .line {
        width: 200px;
      }
    }
  }
}
.animals {
  .item {
    .mask {
      background: #0000005a;
      opacity: 0;
      width: 0;
      transition: opacity 0.5s ease-in, width 0.5s ease-in;
    }
    &:hover {
      .mask {
        opacity: 1;
        width: 100%;
      }
    }
    .showNow {
      .expanded {
        opacity: 0;
        width: 0;
        transition: opacity 0.5s ease-in, width 0.5s ease-in;
      }
      &:hover {
        .expanded {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }
}
.animalsOnScroll {
  animation: myAnimationAnimals;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
@keyframes myAnimationAnimals {
  from {
    transform: translateY(50%);
    visibility: hidden;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
$maskRotate: 160deg;
$colorLeft: #82828214;
$colorCenter: #ffffff25;
$colorRight: #82828214;
.sliders {
  .banners {
    .slide {
      &.activeSliderPrev {
        animation: myAnimationSliderPrev;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &.activeSliderNext {
        animation: myAnimationSliderNext;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      .mask {
        /* background: linear-gradient($maskRotate, color.$colorLeft 0%, color.$colorCenter 50%, color.$colorRight 100%); */
        animation: myAnimationSlider;
        animation-duration: 0.2s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-delay: 1s;
      }
    }
  }
}
@keyframes myAnimationSlider {
  0% {
    background: linear-gradient($maskRotate, color.$colorLeft 0%, color.$colorCenter 0%, color.$colorRight 100%);
  }
  10% {
    background: linear-gradient($maskRotate, color.$colorLeft 0%, color.$colorCenter 10%, color.$colorRight 100%);
  }
  20% {
    background: linear-gradient($maskRotate, color.$colorLeft 0%, color.$colorCenter 20%, color.$colorRight 100%);
  }
  30% {
    background: linear-gradient($maskRotate, color.$colorLeft 0%, color.$colorCenter 30%, color.$colorRight 100%);
  }
  40% {
    background: linear-gradient($maskRotate, color.$colorLeft 0%, color.$colorCenter 40%, color.$colorRight 100%);
  }
  50% {
    background: linear-gradient($maskRotate, color.$colorLeft 0%, color.$colorCenter 50%, color.$colorRight 100%);
  }
  60% {
    background: linear-gradient($maskRotate, color.$colorLeft 0%, color.$colorCenter 60%, color.$colorRight 100%);
  }
  70% {
    background: linear-gradient($maskRotate, color.$colorLeft 0%, color.$colorCenter 70%, color.$colorRight 100%);
  }
  80% {
    background: linear-gradient($maskRotate, color.$colorLeft 0%, color.$colorCenter 80%, color.$colorRight 100%);
  }
  90% {
    background: linear-gradient($maskRotate, color.$colorLeft 0%, color.$colorCenter 90%, color.$colorRight 100%);
  }
  100% {
    background: linear-gradient($maskRotate, color.$colorLeft 0%, color.$colorCenter 100%, color.$colorRight 100%);
  }
}
@keyframes myAnimationSliderPrev {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes myAnimationSliderNext {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
